<!--The content below is only a placeholder and can be replaced.

  Concept of String interpolation:
1.we can perform arithmetic expression
2.we can perform in built funtions like length toUpperCase like
3.we can call inbuilt Functions into it one point to remember that function should return something if not 
then that function body will display n screen

*********Not To used In String Interpolation**********
1. Initialization is not possible through interpolation because memory required for that
    so


-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Hello From {{ Name }} {{name}}
    </h2>
</div>


